* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.wrap {
  width: 100%;
  height: auto;
  max-width: 1250px;
  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  padding-top: 120px;
  font-size: 4rem;
}

.sp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  background-color: teal;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.quote {
  margin-top: 50px;
  color: #4f5664;
  line-height: 76px;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  font-size: 60px;
}

.split-line {
  overflow: hidden;
}